@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Monoton&display=swap');

h1 {
  font-family: 'Monoton', cursive;
}
h2{
    font-weight: bold;
}
body{
    font-family: 'Comfortaa', cursive;
    
}
.centered{
  position: absolute;
  top: 50%;
  left: 40%;
  color:white;
}